<div>
  <%= form_for @page do |f| %>
    <% if @page.errors.any? %>
      <div class="errors">
        <ul class="alert error">
          <% @page.errors.full_messages.each  do |msg| %>
           <li><%= msg %></li>
    <% end %>
        </ul>
      </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :slug %>
  <%= f.text_field :slug %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <div class="actions">
      <%= f.submit %>
  </div>

<% end %>

</div>