<% @pages.each do |page| %>
      <tr>
        <h2><%= link_to page.title, page %></h2>
        </h4><%= page.author %></h4>
        
        <p><%= page.body %></p>
        <p><%= page.description %></p>
        <p><%= page.body %></p>
        <p>
          <%= link_to 'Edit', edit_page_path(page) %>
          <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
<% end %>