<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'page' %>
  </tbody>
</table>

<br>

<h2><%= link_to 'New Post', new_page_path %></h2>
