<h1><%= @page.title %></h1>
<p class="h5">por:<%= @page.author %></p>
<p><%= @page.body %></p>
<p><%= @page.description %></p>

<h4><%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %></h4>